.columnSpan2 {
  grid-column: 1 / -1;
}

.formContainer {
  container-type: inline-size;
  container-name: formContainer;
}

.registerContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

@container formContainer (min-width: 600px) {
  .registerContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem 2rem;
  }
}

.dobSelectsContainer {
  display: flex;
  gap: 1rem;
}

.dobSelectYear {
  flex-grow: 5;
}

.dobSelectMonth {
  flex-grow: 10;
}

.dobSelectDay {
  flex-grow: 3;
}
